*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}

html{
    font-size: 1rem;
    color: gray;
}

.showcase{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.9)), url("../imgs/showcase_bg.jpg");
    height: 100vh;
    background-size: cover ;
    background-position: center;
}

.nav-ul{
    display: flex;
    justify-content: flex-end;
}

.nav-li{
    margin-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
}

.nav-li:hover{
    border-bottom: 0.1rem solid tomato;
}

.nav-links{
    color: white;
    font-family: sans-serif;

}

a{
    text-decoration: none;
}

li{
    list-style: none;
}


.main-heading{
    color: white;
    font-family:  'Work Sans', sans-serif;
    line-height: 145%;
}

.span-styler{
    color: tomato;
}


.text-box{
    position: absolute;
    top: 35vh;
    left: 17vw;
    font-size: 130%;
    width: 70vh;
}

.btn-container{
    margin-top: 1.6rem;
}

.btn{
    display: inline-block;
    color: white;
    font-size: 55%;
    padding: 1rem 1rem;
    background-color: tomato;
    border-radius: 1.7rem;
    font-family: sans-serif;
    cursor: pointer;
    border: 0.1rem solid tomato;
    margin-right: 0.5rem;
    transition: transform 0.3s;
}

btn:hover{
    transform: scale(1.1);
}

.btn-empty{
    background-color: transparent;
    color: white;
    
}

.btn-empty:hover{
    background-color: tomato;
    transform: scale(1.1);
}

section{
    padding: 4rem 5rem;

}

h2{
    font-size: 250%;
    text-align: center;
    color: darkslategray;
}

h2::after{
    content: "";
    display: block;
    height: 0.2rem;
    background-color: tomato;
    width: 20rem;
    margin: 1.5rem auto;
}
.container-parent{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container{
    width: 28%;
    padding: 1.5rem 2rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    margin-bottom: 1rem;
    margin-right: 2rem;
    transition: transform 0.4s;
}

.container:hover{
    transform: scale(1.2);
}

.icon{
    color: tomato;
    font-size: 250%;
    margin-bottom: 0.6rem;
}

h3{
    font-size: 120%;
    margin-bottom: 1rem;
    font-weight: 600;
    font-family: ;
}

.feature-para{
    font-size: 100%;
    line-height: 145%;
    text-align: justify;
    font-family: sans-serif;
    font-weight: 100;
}

.plan-parent{
    display: flex;
    justify-content: space-evenly;
    height: 55vh;
    margin-top: 4rem;
}

.plan-child{
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    height: 85%;
    width: 28% ;
    background-color: rgb(243, 243, 242);
    padding: 1rem;
    border-radius: 0.8rem;
    border: 2px solo;
    border: 2px solid rgb(39, 38, 36);
    transition: transform 0.4s;
}

.plan-child:hover{
    transform: scale(1.15);
}

.plan-header{
    height: 40%;
    border-bottom: 0.09rem solid gray;
    text-align: center;
    font-weight: bold;
}

.dollar{
    color: tomato;
    font-size: 160%;
}

.plan-feature{
    border-bottom: 0.09rem solid gray;
    height: 43%;
    line-height: 1.7rem;
    margin-top: 1rem;
}
.tick{
    color: tomato;
}

.plan-btn__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.4rem;
}

a.signup-btn{
    font-size: 101.5%;
}

.signup{
    background-color: rgb(19, 15, 15);
}
.signup-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 3rem;
}

.bg-video__content{
    width: 40%;
}

.signup-form{
    width: 50%;
    transform: scale(0.9);
}

input[type = "text"],
input[type = "email"],
select , textarea {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0.5rem;
}

.form-entry :last-child{
    display : flex ;
    justify-content : center ;
    align-items : center ;
    height : 4rem ;
}

.footer{
    background-color: whitesmoke;
    justify-content: space-evenly;
    
}

.span-footer{
    display: flex;
}

.f_icon{
    font-size: 1.5rem;
}

